[submodule "submodules/ably-common"]
	path = submodules/ably-common
	url = git@github.com:ably/ably-common.git
[submodule "submodules/uts-proxy"]
	path = submodules/uts-proxy
	url = git@github.com:ably/uts-proxy.git
